label{
    font-size: 19px;
}
select{
    font-size: 18px;
}
option{
    font-size: 18px;
}
.form{
    margin-left: 20px;
}   

/*
.dropdown {
    animation: sideDown 1s;
}
*/
.dropdown select{
    background-color: hsla(0, 0%, 100%, 0.788);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 2px 2px 3px hsl(0, 0%, 55%);
    margin-top: 10px;
}

.dropdown select:hover{
    background-color: hsl(0, 0%, 89%);
}

/*image count section*/
/*
.image-section{

}
*/
.image-message{
    font-size: 19px;
    margin-top: 10px;
}

.imagelist{
    font-weight: 600;
    background-color: hsl(0, 14%, 99%);
    font-size: 15px;
    width: auto; 
    padding: 5px;
    margin: 10px 0;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 2%);
    box-shadow: 3px 2px 3px hsl(0, 0%, 75%);
    max-height: 150px; 
    overflow: auto;
    top: 195px;
    left: 160px;
    position: fixed;
}

.imagelist:hover {
    background-color: hsl(0, 1%, 71%);

}

#imageDropdown {
    width: auto; 
    overflow: auto;
    top: 200px;
    left: 315px;
    position: fixed;
    box-shadow: 3px 2px 3px hsl(0, 0%, 75%), -3px -2px 3px hsl(0, 0%, 75%);
    font-size: 18px;
    color: white;
    list-style-type: none;
    padding: auto;
    margin: auto;
    background-color: hsl(0, 1%, 40%);
    border-radius: 3px;
    cursor: pointer;
    border: 3px outset #ccc;
    transition: background-color 0.3s;
}
#imageDropdown:hover{
    background-color: hsl(0, 0%, 58%);
}

.image-item{
    margin: 5px;
    padding: 5px;
}

#imageDropdown .delete-btn{
    float: right;
    margin-left: 10px;
    background-color: hsla(0, 66%, 53%, 0.699);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#imageDropdown .delete-btn:hover {
    background-color: hsla(0, 48%, 36%, 0.699);
}

/*for Glossy dropdown*/
/*
.glossy-drop {
    
}
*/
#glossyPackage {
    display: none;
    position: relative;
    top: auto;
    float: flow-root;
    animation: slideLeft 2s;
}

.glossyPackage {
    font-size: 18px;
    border: 2px solid hsl(0, 0%, 55%);
    border-radius: 10px;
}
/*for input*/
#customWidth{
    border-radius: 10px; 
    font-size: 21px;
    width: 150px;
}

#customHeight{
    border-radius: 10px; 
    font-size: 21px;
    width: 150px;
}

/*for form icon */
.point{
    display: inline-block;
    background-image: url('../icon/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

.icon{
    display: inline-block;
    background-image: url('../icon/image.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

.icon1{
    display: inline-block;
    background-image: url('../icon/paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

.icon2{
    display: inline-block;
    background-image: url('../icon/paper-size.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.icon3{
    display: inline-block;
    background-image: url('../icon/orientation.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

.icon4{
    display: inline-block;
    background-image: url('../icon/resize.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

.icon5{
    display: inline-block;
    background-image: url('../icon/collage.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

/*
for button icon
*/

.icon6{
    display: inline-block;
    background-image: url('../icon/magic-wand.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    vertical-align: middle; 
    width: 25px; 
    height: 25px; 
    margin-right: 5px;
}

.icon7{
    display: inline-block;
    background-image: url('../icon/archeology.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/*Screen for mobile*/
/* Still ongoing */
@media screen and (max-width:580px){
    label{
        font-size: 16px;
    }
    select{
        font-size: 16px;
    }
    option{
        font-size: 16px;
    }
    .imagelist{
        top: 165px;
        left: 160px;
    }
    #imageDropdown{
        top: 170px;
        left: 315px;
        width: auto;
        height: auto;
        font-size: 11px;
        padding: auto;
        margin: auto;
    }
}


/*Animation*/
@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
