body{
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
    background-color: hsl(0, 0%, 49%);
}

.contanier{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: auto;
}


h1::first-letter{
    font-size: 1.5em;
    font-style: italic;
}
h1{
    font-size: 34px;
    text-align: center;
}
h2{
    text-align: start;
    margin-left: 10px;
}

.border{
    border: 5px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 4px 3px hsl(0, 0%, 75%), -5px -4px 3px hsl(0, 0%, 75%) ;
    width: 825px;
    height: 750px;
    align-self: center;
    /* Apply animation */
    animation: slideDown 2s ease-in-out forwards;
}
@keyframes slideDown {
    /* Initial state (before animation starts) */
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    /* Final state (after animation ends) */
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*Button*/
.Submit{
    font-size: 22px;
    font-style: bold;
    border-radius: 10px;
    padding: 5px;
}

.Clear{
    font-size: 22px;
    font-style: bold;
    border-radius: 10px;
    padding: 5px;
}

#submitButton{
    background-color: hsl(118, 52%, 52%);
    margin: 10px;
    box-shadow: 4px 2px 3px hsl(0, 0%, 56%);
}

#submitButton:hover{
    background-color: hsl(113, 22%, 77%);
}

#clearButton{
    background-color: hsl(0, 51%, 50%);
    margin: 10px;
    box-shadow: 4px 2px 3px hsl(0, 0%, 56%);
}

#clearButton:hover{
    background-color: hsl(0, 51%, 71%);
}

/*Preview*/

.preview{
    background-color: hsl(205, 67%, 82%);
    padding: auto;
    border: 5px solid hsl(204, 58%, 77%);;
    width: 950px;
    height: 880px;
    border-radius: 15px;
    animation: slideRight 2s ease-in-out forwards;
}
@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Screen */

@media screen and (max-width:600px){

}