body{
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
    background-color: hsl(0, 0%, 49%);
}

.contanier{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: auto;
}

h1::first-letter{
    font-size: 1.5em;
    font-style: italic;
}
h1{
    font-size: 34px;
    text-align: center;
}
h2{
    text-align: start;
    margin-left: 10px;
}

.border{
    border: 5px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 4px 3px hsl(0, 0%, 75%), -5px -4px 3px hsl(0, 0%, 75%) ;
    width: 825px;
    height: 700px;
    align-self: center;
    animation: slideDown 2s ease-in-out forwards;
}

/*Button*/
.Submit {
    margin: 10px;
    font-size: 22px;
    border-radius: 12px;
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.Submit::after {
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: hsl(101, 70%, 49%);
    left: 0;
    top: 0;
}

.Submit::before {
    content:"";
    background: linear-gradient(
        45deg,
        hsl(2, 100%, 50%), hsl(64, 100%, 50%), hsl(108, 100%, 50%), hsl(172, 100%, 50%),
        hsl(229, 100%, 50%), hsl(261, 100%, 50%), hsl(288, 100%, 50%), hsl(332, 100%, 50%)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.Submit:hover::before{
    opacity: 1;
}

.Submit:active::after{
    background: transparent;
}

.Submit:active{
    color: white;
    font-weight: bold;
}

.Clear {
    margin: 10px;
    font-size: 22px;
    border-radius: 12px;
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.Clear::after {
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: hsl(7, 70%, 49%);
    left: 0;
    top: 0;
}

.Clear::before {
    content:"";
    background: linear-gradient(
        45deg,
        hsl(2, 100%, 50%), hsl(64, 100%, 50%), hsl(108, 100%, 50%), hsl(172, 100%, 50%),
        hsl(229, 100%, 50%), hsl(261, 100%, 50%), hsl(288, 100%, 50%), hsl(332, 100%, 50%)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.Clear:hover::before{
    opacity: 1;
}

.Clear:active::after{
    background: transparent;
}

.Clear:active{
    color: white;
    font-weight: bold;
}

/*Preview*/

.preview{
    background-color: hsl(205, 67%, 82%);
    padding: auto;
    border: 5px solid hsl(204, 58%, 77%);;
    width: 950px;
    height: 880px;
    border-radius: 15px;
    animation: slideRight 2s ease-in-out forwards;
}


/* Screen */

@media screen and (max-width:600px){

}

/* Animation */
@keyframes slideDown {
    /* Initial state (before animation starts) */
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    /* Final state (after animation ends) */
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}